body {
    background-color: white;
  }
  .container {
    max-width: 100%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
  }
  
  .box {
    border: 1px solid ;
    background: white;
    padding: lan;
    border-radius: 10%;
  }
  
  img {
    padding: 32px 32px;
  }
  
  P.blocktexttitle {
    text-align: right;
    font-weight: bold;
    padding-right: 15px;
    font-size: large;
    color: rgb(235, 60, 89);
  }
  
  P.blocktexttype {
    font-weight: bold;
    text-align: center;
  }
    
    
    
    
    