<div *ngIf="on" class="container">
    <div *ngFor ="let item of items let i = index">
      <div class="box"> 
      <button class="remove" (click)="removeItem(i)"><i class="far fa-trash-alt"></i></button>
      <a routerLink="/itemRequest" (click)="sendItem(item)"> 
        <img src="{{item.image}}" (mouseover)="printInfo(i)"><br>
      <div *ngIf="i === info"> 
        <p class="blocktexttitle">{{item.for}}</p>
        <label class="info"> סוג הבגד: {{items[i].type}}</label><br>
        <label class="info"> קטגוריה: {{items[i].category}}</label><br>
        <label class="info"> {{items[i].size}} :מידה </label><br>
        <label class="blocktext">תיאור הפריט</label>
        <label class="info"> {{items[i].note}} </label><br>
      </div>
      </a>
     </div>
    </div>
  </div>
  <div class="nresulte" *ngIf="!on"><h1>אין פריטים שמורים</h1></div>


  
  
  
  