.c{
  background-color: red;
}

.title {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: right;
    font-size: x-large;
  }
  
  .profile {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  
  
    