
<h2 style="text-align:center">{{title}} {{user[0].firstName}}</h2>
<div></div>

<div class="profile">
    

<div class="d-grid gap-2 col-6 mx-auto">  
  <div *ngIf="user[0].userType == 0" class="btn btn-primary btn btn-info" routerLink="/menagment"> מנהל </div>
  <div class="btn btn-primary btn btn-info" routerLink="/mail">דואר נכנס</div>
  <div class="btn btn-primary btn btn-info" routerLink="/userItems"> הפריטים שלי </div>
  <div class="btn btn-primary btn btn-info" routerLink="/update"> פרטי חשבון </div>
  <div class="btn btn-primary btn btn-info" routerLink="/" (click)="onActiveLogOut()">התנתק</div>
  <div class="btn btn-primary btn btn-info" routerLink="/deleteUser">מחק משתמש </div>
</div>
</div>
<router-outlet>  </router-outlet>

